@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: "Roboto mono", monospace;
}

.header {
  background-color: #F6F3EE;
}
.header-container {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}
.header__items {
  display: flex;
  align-items: center;
}
.header__item {
  margin-right: 20px;
}
.header__title {
  font-size: 1.6em;
  color: #547794;
}
.header__courses {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-right: 1px solid #e0e0e0;
  padding-right: 30px;
}
.header__courses i {
  margin-left: 8px;
}
.header__courses:hover {
  cursor: pointer;
}
.header .link {
  color: black;
}

.presentation-container {
  background-color: #c2c9cd;
  height: 70vh;
}

.presentation {
  height: 100%;
  width: 50%;
  margin-left: 200px;
  margin-right: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.presentation h2 {
  font-size: 2.4em;
}
.presentation p {
  font-size: 1.2em;
}
.presentation .info {
  display: flex;
}
.presentation .info-discount {
  background-color: #e02631;
  color: white;
  padding: 4px;
  border-radius: 6px;
}
.presentation .info-stars i {
  color: #febf2e;
  margin-right: 4px;
}
.presentation .info-stars i:last-of-type {
  margin-right: 16px;
}
.presentation .info-stars p span {
  color: #6e6e6e;
}
.presentation .info-students i {
  color: #0bd4c1;
  margin-right: 16px;
}
.presentation .info-students p {
  font-size: 0.9em;
}
.presentation .info-date {
  color: #6e6e6e;
}
.presentation .info-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.presentation .author-info__created {
  margin-bottom: 20px;
}
.presentation .author-info__profiles {
  display: flex;
}
.presentation .author-info__profile {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.presentation .author-info__profile img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 30px;
}
.presentation .author-info__profile__text-name {
  font-size: 1.4em;
  font-weight: bold;
}
.presentation .author-info__profile__text-info {
  font-size: 1.1em;
}

.card {
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 100px;
  margin-top: 60px;
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}
.card__content-price {
  font-size: 1.2em;
  font-weight: bold;
  color: #e6215d;
}
.card__content-price-discount {
  font-size: 1.6em;
}
.card__content-price-no-discount {
  text-decoration: line-through;
  color: #6e6e6e;
  font-weight: lighter;
}
.card__content-price-percent {
  color: black;
}
.card__content-price-small {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 20px;
}
.card-button {
  background-color: #547794;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  border: 2px solid #547794;
  cursor: pointer;
}
.card-button-w {
  background-color: white;
  color: #547794;
}
.card-info__title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
}
.card-info__item {
  margin-top: 10px;
}

.about-container {
  background-color: white;
}

.about {
  width: 45%;
  margin-left: 200px;
  padding: 40px;
  margin-top: 40px;
  border: 1px solid #e0e0e0;
}
.about__title {
  font-size: 1.8em;
  margin-bottom: 20px;
}
.about__list {
  list-style: none;
  padding: 0;
}
.about__list li {
  margin-left: 50px;
  margin-bottom: 10px;
}
.about__list li:before {
  content: "";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -2em;
  /* same as padding-left set on li */
  width: 1.3em;
  /* same as padding-left set on li */
}

.text {
  width: 45%;
  margin-left: 200px;
  padding: 40px;
  margin-top: 40px;
  border-bottom: 1px solid #e0e0e0;
}
.text h2 {
  margin-bottom: 30px;
}

/*# sourceMappingURL=styles.css.map */
