.floating-card{
}

.card-container{
    width: 380px;
    height: 300vh;
    position: absolute;
    right: 90px;
    top: 70px;
}

.card{
    //background-color: red;
    background-color: whitesmoke;
    position: sticky;
    top: -364px;
    display: block;
    // margin-right: 140px;
    // margin-top: 100px;
    //width: 380px;

    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;

    &-imgs{
        display: flex;
        flex-direction: column;
        // padding: 20px;
        align-items: center;
        
        .img-container{
            
            .img{
                position: relative;
    
                img{
                    width: 380px;
                    height: 180px;
                    object-fit: cover;
                    filter: brightness(0.5);
                }   
            }

            .img-play{
                position: absolute;
                color: whitesmoke;
                text-align: center;
                z-index: 500;
            }
            .img-play1{
                top: 80px;
                left: 34%;
            }

            .img-play2{
                top: 260px;
                left: 34%;
                
            }
        }
    }
    

    &__content{
        // position: sticky;
        // top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;

        &-price{
            font-size: 1.2em;
            font-weight: bold;
            color: #e6215d;

            &-discount{
                font-size: 1.6em;
            }

            &-no-discount{
                text-decoration: line-through;
                color: $black_bg;
                font-weight: lighter;
            }

            &-percent{
                color: black;
            }

            &-small{
                font-size: 1em;                
                font-weight: normal;
                margin-bottom: 20px;
            }
        }
    }

    &-button{
        background-color: $blue;
        text-align: center;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;
        color: white;
        border: 2px solid $blue;
        cursor: pointer;

        &-w{
            background-color: white;
            color: $blue;
        }
    }

    &-info{
        &__title{
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 1.2em;
        }
        
        &__item{
            margin-top: 10px;
        }
    }
}
