.header{
    background-color: $navbar_bg;

    &-container{
        padding: 20px;
        width: 80%;
        margin: 0 auto;
        
    }

    &__items{
        display: flex;       
        align-items: center;

        img{
            width: 40px;
        }
    }

    &__item{
        margin-right: 20px;
    }

    &__title{
        font-size: 1.6em;
        color: $blue;
        font-weight: 700;
    }

    &__courses{
        font-size: 1.2em;
        display: flex;       
        align-items: center;
        justify-content: space-around;
        border-right: 1px solid $grey;
        padding-right: 30px;

        i{
            margin-left: 8px;
        }

        &:hover{
            cursor: pointer;
        }
    }

    .link{
        color: black;
    }
}