.text-container{
    
}
.text{
    width: 45%;
    margin-left: 200px;
    padding: 40px;
    margin-top: 40px;
    border-bottom: 1px solid $grey;

    h2{
        margin-bottom: 30px;
        font-size: 1.5em;
    }
}